body {
  margin: 0;
  padding: 0;
  font-family: "PT-Root-UI", sans-serif !important;
  /* background: var(--body-color); */
}

p {
  margin: 0;
  padding: 0;
}


:root {
  /*  Daynamic Color */

  /* --primary-color: #32d095;
  --secondary-color: #cecfdd;
  --text-color: #222222;
  --body-color: #edf2f6;
  --card-color: #cbd7ec;
  --input-bgcolor: #ffffff;
  --input-field: #ccc; */

  --primary-color: red;
  --secondary-color: green;
  --text-color:blue;
  --body-color: tomato;
  --card-color: orange;
  --input-bgcolor: yellow;

  /* Daynamic Color */

  --primary-rgb: 255, 168, 77;
  --secondary-rgb: 37, 100, 184;
  --third-rgb: 34, 34, 34;
  --white: #ffffff;
  --red: #ff0000;
  --light-gray: #f4f4f4;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --sabre: #ff0000;
  --galileo: #0b8634;
  --flyhub: #4169e1;
  --mateBlack: #222222;
  --tomato-color: #ff4a4a;
  --green-color: #219e35;
  --remove-color: #ff2f2f;
  --file-color: #ffa84d;

  --refundable-color: #2564b8;
  --deposit: #177c33;
  --purchase: #ed1c24;
  --loan: #50678c;
  --void: #4f86e0;
  --refund: #e07f4f;
  --reissue: #c73e3e;
  --return: orange;
  --secondary-color: #d3e0f0;
  --transit: var(--text-color);
  --change: #f4f4f4;
  --drawer-bgcolor: #fff;

  --edit-color: #2c74b3;
  --dark-blue: #003e6b;
}